*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu{
    list-style: none;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}


/* STRUCTURE */

body{
    background-color: rgb(127, 255, 212);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: white;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn{
    width: 50px;
}

main{
    flex-grow: 1;
}

#center{  
    width: 80%;
    margin: 50px auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.grid > *{
    aspect-ratio: 1/1;
    border: 0.5px solid black;
    text-align: center;
    line-height: 95px;
}

.bg-sand{
    background-color: rgb(250, 235, 199);
}

footer{
    background-color: white;
    padding: 30px;
}

.ref{
    text-decoration: underline;
}